.search-results {

  &__top {
    @include grid_row();
    max-width: 100%;
    padding: rem-calc(15px) rem-calc(15px);
    background: $default-blue;

    .search-logo {
      @include grid_col(2);
      position: relative;

      &__img {
        @include vertical-center;
        @include horizontal-center;
        width: rem-calc(80px);
        height: rem-calc(80px);
      }
    }

    .search-container {
      @include grid_col(8);
      @include grid-column-position(-2);

      .search-bar {
        margin-bottom: rem-calc(10px);
      }

      .search-menu {
        @include menu-base;
        margin-top: rem-calc(10px);

        &__item > a {
          font-size: 18px;
          font-weight: 600;
          color: $default-white;
          padding-left: 0 !important;
        }
      }
    }
  }

  &__list {
    margin: rem-calc(15px) auto;
    width: 80%;
    margin-left: 18%;
  }
}
